<div class="container" ng-controller = "PrepareController">

  <div class="row">
      <div class="col-lg-1">
        <b>Player 1</b>
      </div>
      <div class="col-lg-9">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">#</span>
          <input type="text" class="form-control" placeholder="Playername" aria-describedby="basic-addon1" ng-model="player1Name">
        </div>
      </div>
      <div class="col-lg-2">
        <font color="red">red stones</font>
      </div>
  </div>

  <div class="row">
    <p></p>
  </div>

  <div class="row">
      <div class="col-lg-1">
        <b>Player 2</b>
      </div>
      <div class="col-lg-9">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">#</span>
          <input type="text" class="form-control" placeholder="Playername" aria-describedby="basic-addon2" ng-model="player2Name">
        </div>
      </div>
      <div class="col-lg-2">
        <font color="blue">blue stones</font>
      </div>
  </div>

  <div class="row">
    <p></p>
  </div>

  <div class="row">
      <div class="col-lg-1">
        <a href="#/game" class="btn btn-default" ng-click="startGame()">Start Game</a>
      </div>
  </div>

</div>
