<div class="container">

  <h1 class="text-center" style="margin-top: 16px"><font color="red">Web</font><font color="blue">Plode</font></h1>
  <hr/>

  <div class="row">
    <div class="col-4">
      <app-player
          *ngFor="let p of players; trackBy: trackPlayer"
          [player]="p">
      </app-player>
    </div>

    <div class="col-8">
      <div class="row" *ngFor="let row of board;">
        <app-field
          *ngFor="let f of row;"
          [field]="f"
          (makeMoveEvent)=doMakeMove($event)>
        </app-field>
      </div>
    </div>
  </div>

  <app-resultview
    [numberOfMoves]=this.numberOfMoves
    [activePlayer]=this.activePlayer>
  </app-resultview>
</div>
